body {
  width: 100%;
}

.container {
  display: flex;
  max-width: 200px;
  width: 200px;
  left: 0;
}

.column {
  width: 150px;
  position: relative;
  border-radius: 10px;
  transition: 0.2s;
  align-items: center;
  display: flex; 
  flex-direction: column; 
}

.column .options {
  gap: 100px;
}

.entranceName {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.entranceName img {
  width: 20px;
}

.options {
  display: none;
}

.options.active {
  display: block;
}

.entranceName label {
  display: flex;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 22px;
  width: 100px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

ul {
  list-style: none; 
}

.search-food {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-ent {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hoolig-shuuh {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  height: 60px;
  width: 150px;
  background-color: #3a3131;
  color: white;
}
.save-element-hidden {
  display: none;
}

.save-element-visible {
  display: block;
  position: fixed;
  top: 0;
  left: calc(100% - 500px);
  width: 500px;
  background-color: #453E3B;
  height: 100vh;
  transition: 0.5s;
}

.save-element-visible .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
  }
}

