

.generals {
    height: 800px;
    background-image: url(/assets/generalblur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;

}

.log {
    height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    border: solid var(--color-background);
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: var(--color-background);;
    top: 0;
    left: 40%;
}

.log h2 {
    font-family: "Inter", sans-serif;
    align-self: center;
}

.owner {
    align-self: center;
}

.loginn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;

    & input {
        height: 45px;
        width: 370px;
        background-color: var(--color-background);;
        border: none;
        border-radius: 20px;
        &::placeholder{
            padding-left: 10px;
        }
    
    }

    & .submit {
        height: 45px;
        width: 370px;
        background-color:var( --color-button);
        border: none;
        margin-top: 10px;
        color: var(--color-background);;
        border-radius: 20px;

    }
}

.easy {
    align-self: center;
    margin:30px;
}

