@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --font-header: 'Montserrat', sans-serif;
    --font-answer: 'Pangolin', cursive;
    --size-header: 20px;
    --size-answer: 25px;
    --font-addDescription: 'Istok Web', sans-serif;
    --size-addDescription: 25px;
    --color-home: white;
    --color-foodname: #F7D8A5;
    --color-general: white;

    --color-background: rgb(255, 255, 255);
    --color-button: rgb(35, 50, 64);
    --font-popular-title: 'Literata', serif;
}

@media (max-width: 768px) {
    button {
        font-size: 0.9em;
        padding: 8px 10px;
    }
    p {
        font-size: 0.9em;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-general: black;
    }
}
