.main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    width: 100%;
}
 .wrapper{
    width:100%;

} 

button {
    height: 35px;
    gap: 30px;
    min-width: 5rem;
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    background-color: #3b3232;
    margin-right: 2px;



}

.entrance-meat {
    display: flex;
    flex-direction: row;
    margin: 1rem 10px 1rem 10px;
    width:100%;
    max-width: 1220px;

    & img {
        width: 25px;
        height: 25px;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-row::-webkit-scrollbar {
    display: none;
}

.flex-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100%;
    max-width: 1260px;

    & button {
        min-width: 160px;
    }

}

.flex-row::-webkit-scrollbar {
    display: none
}



.search-food {
    display: flex;
    align-items: center;
    flex-direction: column;
}




.search-ent {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;


}

.hoolig-shuuh {

    margin-top: 30px;
    text-align: center;
    align-items: center;
    height: 60px;
    width: 150px;
    background-color: #3A3131;
    color: white;


}

@media (max-width:768px) {
    .main {
        max-width: 768px;

    }
    .wrapper{
        width: 768px;
    }

}