

.main {
    display: flex;
    flex-direction: column;
    grid-area: main;

}

button {
    width: 160px;
    height: 35px;
    min-width: 100px;
    gap:30px;
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    background-color: #3b3232;
    margin-right: 2px;;



}
.entrance-meat{
    display: flex;
    flex-direction: row;
    & img{
        width:25px;
        height: 25px;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.flex-row::webkit ::-webkit-scrollbar{
    width:0;
}

.flex-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
    overflow-x: auto;

}



.search-food{
    display: flex;
    align-items: center;
    flex-direction: column;
}




.search-ent {
    width: 600px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
   

}
.hoolig-shuuh {
   
    margin-top: 30px; 
    text-align: center;  
    align-items: center;
    height: 60px;
    width: 150px;
    background-color: #3A3131;
    color: white;


}
