
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Zetta:wght@100..900&family=Lobster&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Zetta:wght@300&family=Lobster&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

:root {
    --font-header: "Semi-bold";
    --font-answer: "Pangolin", cursive;
    --size-header: 20px;
    --size-answer: 25px;
    --font-addDescription: "Istok Web", sans-serif;
    --size-addDescription: 25px;
    --color-foodname: #F7D8A5;
    --font-popular-title: font-family: "Literata", serif;


}
body {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "head" "main" "footer";
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}


/*header section*/
.head {
    
    grid-area: head;
    margin: 0;

    & .navigation {
       
        display: flex;
        flex-direction: row;
        gap: 60px;
        list-style: none;
        justify-content:space-evenly ;
        font-size: 20px;
        font-family: var(--font-header);

        & .fa-user{
            font-size: 20px;
            padding-right: 5px;
        }

    & img{
        width:40px;
        height: 40px;
}
& a{
    color: black;
}
        }
}
.search-bar{
    position: relative;
}
.search{
    width:280px;
    height:25px;
    border:1px solid black;
    border-radius: 20px;
    
}
.search-bar ::placeholder{
    text-align: center;
}
.fa-magnifying-glass{
font-size:15px;
position: absolute;
right:0;
margin-top: 6px;
margin-right: 5px;


}
.navigation li:not(:first-child) {
    margin-top: 10px;
}


body {
    display: grid;
    grid-template-columns: auto;
    
}
.footer1 ,.footer2{
    display:flex;
    flex-direction: column;
    gap:15px;
}

footer {
    background-color: #1F3341;
    height:200px;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    


}

footer h2 {
    
    width: 100%;
    text-align: center;
    color: white;
    size: 50px;

}


footer section {
    color: white;
}