body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.general {
    width: 100%;
    max-width: 1440px;
    height: 650px;
    border-radius: 50px;
    background-image: url(assets/general.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 30px 0 0 30px;

}

.yesorno {
    font-family: var(--font-answer);
    font-size: var(--size-answer);
    margin-left: 80px;
    margin-top: 80px;

    & p {
        color: white;
    }

    & a {
        color: white;
        width: 200px;

    }

}
.yeshover {
    display: none;

    & a {
        font-size: 20px;
    }

}


.no-answer {
    display: none;
    font-size: 20px;
}

.yesorno a:hover+.yeshover {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.yesorno a:hover+.no-answer {
    display: flex;
    flex-direction: row;
}

.ask {
    margin:30rem;
    font-size: 30px;
    font-family: 'Lobster', serif;
    color: white;
}

/*adver*/
.add {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & img{
        border-radius: 20px;
        transition: 0.4s ease-in-out;
    
    }
    & img:hover{
        scale:1.05;
    }

}



.addtext {

    margin-right: 20px;
    font-family: var(--font-addDescription);
    font-size: var(--size-addDescription);
    font-style: italic;

}

button {
    position: relative;
    top: 30%;
    left: 65%;
    background-color: #1F3341;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

.container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;

    & img {
        margin-top: 15px;
    }

    & .name {
        padding-top: 9px;
        border: 1px;
        border-radius: 30px;
        width: 250px;
        height: 50px;
        background-color: var(--color-foodname);
        text-align: center;
        font-family: var(--font-addDescription);
        font-size: 25px;
        font-style: italic;
    }
}

.container h2 {
    text-align: center;
    font-size: 20px;
    grid-column: 1 / -1;
}


.container icon {
    left: 10px;
}

.container img {
    border-radius: 50px;
    width: 250px;
    height: 250px;
}

.days {
    display: flex;
    flex-direction: row;
    gap: 450px;

    & p {
        color: #918C8C;
    }
}


.leaf-icons {
    display: flex;
    flex-direction: row;

}

.reaction {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.leaf1 {

    position: sticky;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2377b255' d='M32.551 18.852c-2.093-1.848-6.686-3.264-10.178-3.84c3.492-.577 8.085-1.993 10.178-3.839c2.014-1.776 2.963-2.948 2.141-4.722c-.566-1.219-2.854-1.333-4.166-2.491C29.214 2.802 29.083.783 27.7.285c-2.01-.726-3.336.114-5.347 1.889c-2.094 1.847-3.698 5.899-4.353 8.98c-.653-3.082-2.258-7.134-4.351-8.981C11.634.397 10.308-.441 8.297.285c-1.383.5-1.512 2.518-2.823 3.675S1.872 5.234 1.308 6.454c-.823 1.774.129 2.943 2.14 4.718c2.094 1.847 6.688 3.263 10.181 3.84c-3.493.577-8.087 1.993-10.181 3.84c-2.013 1.775-2.963 2.945-2.139 4.721c.565 1.219 2.854 1.334 4.166 2.49c1.311 1.158 1.444 3.178 2.827 3.676c2.009.727 3.336-.115 5.348-1.889c1.651-1.457 2.997-4.288 3.814-6.933c-.262 4.535.528 10.591 3.852 14.262c1.344 1.483 2.407.551 2.822.187c.416-.365 1.605-1.414.186-2.822c-3.91-3.883-5.266-7.917-5.628-11.14c.827 2.498 2.107 5.077 3.657 6.446c2.012 1.775 3.339 2.615 5.351 1.889c1.382-.5 1.512-2.52 2.822-3.676c1.312-1.158 3.602-1.273 4.166-2.494c.822-1.774-.13-2.944-2.141-4.717'/%3E%3C/svg%3E");
}

.leaf2 {

    position: sticky;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2377b255' d='M32.551 18.852c-2.093-1.848-6.686-3.264-10.178-3.84c3.492-.577 8.085-1.993 10.178-3.839c2.014-1.776 2.963-2.948 2.141-4.722c-.566-1.219-2.854-1.333-4.166-2.491C29.214 2.802 29.083.783 27.7.285c-2.01-.726-3.336.114-5.347 1.889c-2.094 1.847-3.698 5.899-4.353 8.98c-.653-3.082-2.258-7.134-4.351-8.981C11.634.397 10.308-.441 8.297.285c-1.383.5-1.512 2.518-2.823 3.675S1.872 5.234 1.308 6.454c-.823 1.774.129 2.943 2.14 4.718c2.094 1.847 6.688 3.263 10.181 3.84c-3.493.577-8.087 1.993-10.181 3.84c-2.013 1.775-2.963 2.945-2.139 4.721c.565 1.219 2.854 1.334 4.166 2.49c1.311 1.158 1.444 3.178 2.827 3.676c2.009.727 3.336-.115 5.348-1.889c1.651-1.457 2.997-4.288 3.814-6.933c-.262 4.535.528 10.591 3.852 14.262c1.344 1.483 2.407.551 2.822.187c.416-.365 1.605-1.414.186-2.822c-3.91-3.883-5.266-7.917-5.628-11.14c.827 2.498 2.107 5.077 3.657 6.446c2.012 1.775 3.339 2.615 5.351 1.889c1.382-.5 1.512-2.52 2.822-3.676c1.312-1.158 3.602-1.273 4.166-2.494c.822-1.774-.13-2.944-2.141-4.717'/%3E%3C/svg%3E");
}

.leaf3 {

    position: sticky;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2377b255' d='M32.551 18.852c-2.093-1.848-6.686-3.264-10.178-3.84c3.492-.577 8.085-1.993 10.178-3.839c2.014-1.776 2.963-2.948 2.141-4.722c-.566-1.219-2.854-1.333-4.166-2.491C29.214 2.802 29.083.783 27.7.285c-2.01-.726-3.336.114-5.347 1.889c-2.094 1.847-3.698 5.899-4.353 8.98c-.653-3.082-2.258-7.134-4.351-8.981C11.634.397 10.308-.441 8.297.285c-1.383.5-1.512 2.518-2.823 3.675S1.872 5.234 1.308 6.454c-.823 1.774.129 2.943 2.14 4.718c2.094 1.847 6.688 3.263 10.181 3.84c-3.493.577-8.087 1.993-10.181 3.84c-2.013 1.775-2.963 2.945-2.139 4.721c.565 1.219 2.854 1.334 4.166 2.49c1.311 1.158 1.444 3.178 2.827 3.676c2.009.727 3.336-.115 5.348-1.889c1.651-1.457 2.997-4.288 3.814-6.933c-.262 4.535.528 10.591 3.852 14.262c1.344 1.483 2.407.551 2.822.187c.416-.365 1.605-1.414.186-2.822c-3.91-3.883-5.266-7.917-5.628-11.14c.827 2.498 2.107 5.077 3.657 6.446c2.012 1.775 3.339 2.615 5.351 1.889c1.382-.5 1.512-2.52 2.822-3.676c1.312-1.158 3.602-1.273 4.166-2.494c.822-1.774-.13-2.944-2.141-4.717'/%3E%3C/svg%3E");
}

.leaf4 {

    position: sticky;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2377b255' d='M32.551 18.852c-2.093-1.848-6.686-3.264-10.178-3.84c3.492-.577 8.085-1.993 10.178-3.839c2.014-1.776 2.963-2.948 2.141-4.722c-.566-1.219-2.854-1.333-4.166-2.491C29.214 2.802 29.083.783 27.7.285c-2.01-.726-3.336.114-5.347 1.889c-2.094 1.847-3.698 5.899-4.353 8.98c-.653-3.082-2.258-7.134-4.351-8.981C11.634.397 10.308-.441 8.297.285c-1.383.5-1.512 2.518-2.823 3.675S1.872 5.234 1.308 6.454c-.823 1.774.129 2.943 2.14 4.718c2.094 1.847 6.688 3.263 10.181 3.84c-3.493.577-8.087 1.993-10.181 3.84c-2.013 1.775-2.963 2.945-2.139 4.721c.565 1.219 2.854 1.334 4.166 2.49c1.311 1.158 1.444 3.178 2.827 3.676c2.009.727 3.336-.115 5.348-1.889c1.651-1.457 2.997-4.288 3.814-6.933c-.262 4.535.528 10.591 3.852 14.262c1.344 1.483 2.407.551 2.822.187c.416-.365 1.605-1.414.186-2.822c-3.91-3.883-5.266-7.917-5.628-11.14c.827 2.498 2.107 5.077 3.657 6.446c2.012 1.775 3.339 2.615 5.351 1.889c1.382-.5 1.512-2.52 2.822-3.676c1.312-1.158 3.602-1.273 4.166-2.494c.822-1.774-.13-2.944-2.141-4.717'/%3E%3C/svg%3E");
}

.leaf5 {

    position: sticky;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2377b255' d='M32.551 18.852c-2.093-1.848-6.686-3.264-10.178-3.84c3.492-.577 8.085-1.993 10.178-3.839c2.014-1.776 2.963-2.948 2.141-4.722c-.566-1.219-2.854-1.333-4.166-2.491C29.214 2.802 29.083.783 27.7.285c-2.01-.726-3.336.114-5.347 1.889c-2.094 1.847-3.698 5.899-4.353 8.98c-.653-3.082-2.258-7.134-4.351-8.981C11.634.397 10.308-.441 8.297.285c-1.383.5-1.512 2.518-2.823 3.675S1.872 5.234 1.308 6.454c-.823 1.774.129 2.943 2.14 4.718c2.094 1.847 6.688 3.263 10.181 3.84c-3.493.577-8.087 1.993-10.181 3.84c-2.013 1.775-2.963 2.945-2.139 4.721c.565 1.219 2.854 1.334 4.166 2.49c1.311 1.158 1.444 3.178 2.827 3.676c2.009.727 3.336-.115 5.348-1.889c1.651-1.457 2.997-4.288 3.814-6.933c-.262 4.535.528 10.591 3.852 14.262c1.344 1.483 2.407.551 2.822.187c.416-.365 1.605-1.414.186-2.822c-3.91-3.883-5.266-7.917-5.628-11.14c.827 2.498 2.107 5.077 3.657 6.446c2.012 1.775 3.339 2.615 5.351 1.889c1.382-.5 1.512-2.52 2.822-3.676c1.312-1.158 3.602-1.273 4.166-2.494c.822-1.774-.13-2.944-2.141-4.717'/%3E%3C/svg%3E");
    margin-right: 40px;
}


.popular {
    display: flex;
    flex-direction: row;

}

.popular-p {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}

.popular img {
    width: 30%;
    height: 300px;
    border-radius: 40px;
}


.title {
    position: static;
    flex: right;
    font-family: var(--font-popular-title);
    font-size: 30px;
    color: #918C8C;
}

.item{
    transition: all 0.25s ease;
}

.item:hover{
    scale: 1.05;
}
/* Default styles */

/* Add your default styles here */

/* Media queries for different screen sizes */
@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
    /* Styles for screens up to 768px width */
    /* Add your responsive styles here */
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px width */
    /* Add your responsive styles here */
}

/* Additional media queries as needed */
